/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

/* Reset styles and set the font family */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Body styles */
body {
  margin: 0;
  background: #222;
  color: #ededed;
  text-align: center;
}

/* Header styles */
.name {
  font-size: medium;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.header {
  max-height: 75px;
  position: fixed;
  background: #cc2020;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  padding: 20px 10%;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .5s;
}

/* Navbar styles */
.navbar a {
  font-size: medium;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .5s;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(93, 0, 0);
}

/* Search bar styles */
.search {
  background-color: #cc2020;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10%;
  border-radius: 50px;
  width: 90%;
  height: 150px;
  box-shadow: 0px 0px 20px goldenrod;
}

.search h1 {
  padding-top: 15px;
}

/* Search button styles */
#search-button {
  border-radius: 15px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#search-button:hover {
  background-color: white;
  color: black;
}

#search-button:active {
  background-color: gray;
  color: white;
  transform: scale(0.95);
}

#search-button:focus {
  outline: none;
}

/* Search input and dropdown styles */
#search-input {
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  margin-right: 10px;
}

#search-criteria {
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
}

/* Style the dropdown when hovered */
#search-criteria:hover {
  background-color: white;
  color: black;
}

/* Style the dropdown when clicked */
#search-criteria:active {
  background-color: gray;
  color: white;
}

/* Optional: Remove button outline on focus */
#search-criteria:focus,
#search-input:focus {
  outline: none;
}
.results {
  color: black;
  top: 450px;
  position: relative;
  background-color: #f0f0f0; /* Set the background color */
  padding: 10px; /* Add some padding for spacing */
  border: 1px solid #ccc; /* Add a border for a container look */
  border-radius: 5px; /* Rounded corners for the container */
  margin-top: 10px; /* Add margin at the top for separation */
}
